{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'tienda/img/faviconlogo.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doces&Mecos</title>

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'tienda/css/Principal.css' %}">
</head>

<body>
    <header class="cabecera">
        <div class="cabecera-left">
            <a href="{% url 'inicio' %}"><img src="{% static 'tienda/img/Logo.jpg' %}" alt="Logo" class="logo"></a>
        </div>
        <div class="cabecera-center">
            <h1>Doces&Mecos</h1>
            <p>Doce alegría en cada bocado!</p>
        </div>
        <div class="cabecera-right">
            <div class="hamburger-menu">
                <input type="checkbox" id="menu" class="menu-checkbox">
                <label for="menu" class="hamburger">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul class="desplegable">
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="{% url 'productos' %}">Productos</a></li>
                    <li><a href="#">Contacta</a></li>
                </ul>
            </div>
            <div class="cabecera-icons">
                <a href="{% url 'carrito' %}" class="icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="{% url 'formulario' %}" class="icon-link"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </header>

    <div class="cuerpo">
        <div class="cuerpo-up">
            <div class="contenedor-imagen">
                <h4>Acerca de nosotros</h4>
                <img src="{% static 'tienda/img/sea-9983074_640.jpg' %}" alt="tienda">
            </div>
            <p class="texto-seccion">
                A nosa pasión é endulzar a vida de pequenos como grandes,
                ofrezemos unha amplía variedade de doces e larpeiradas que despertan recordos da infancia.
                Temos desde caramelos clásicos hasta as últimas novedades.
                A nosa misión e que o cliente marche cun sorriso na cara como
                o que nós temos cando entran.
            </p>
        </div>

        <div class="cuerpo-up">
            <div class="contenedor-imagen">
                <h4>Donde nos puedes encontrar</h4>
                <img src="{% static 'tienda/img/sea-9983074_640.jpg' %}" alt="tienda">
            </div>
            <p class="texto-seccion">
                Podes atoparnos no centro de Malpica de Bergantiños,
                nun espazo cheo de cor, doces e alegría.
                Enderezo: Rúa Eduardo Vila Fano 2, Malpica de Bergantiños
                Horario: 10:30-1:30 || 5:00-8:30
                Achégate a coñecernos e déixate levar polo sabor das nosas lambetadas en Doces & Mecos.
            </p>
        </div>
    </div>

    <footer class="pie">
        <div class="pie-left">
            <img src="{% static 'tienda/img/Logo.jpg' %}" alt="Logo" class="logo">
            <p>Política e privacidade da empresa</p>
            <p>Rúa Eduardo Vila Fano 2</p>
            <p>Malpica de Bergantiños</p>
        </div>
        <div class="pie-right">
            <a href="https://www.instagram.com/doces_e_mecos/?hl=es">
                <p>@doces_e_mecos</p>
            </a>
            <p><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                    <font dir="auto" style="vertical-align: inherit;">
                        <font dir="auto" style="vertical-align: inherit;">CC BY-NC-ND 4.0</font>
                    </font>
                </a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""
                    style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""
                    style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
                    src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt=""
                    style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
                    src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" alt=""
                    style="max-width: 1em;max-height:1em;margin-left: .2em;"></p>
        </div>
    </footer>
</body>

</html>